* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F4FF;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 94px 0 130px; 
}

.home-page {
  max-width: 1190px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 60px;
}

.home-page .left {
  display: flex;
  flex-direction: column;
  width: 255px;
  margin-right: 30px;
  /* display: block; */
}

.home-page .left .left-heading {
  background-image: url(./component/asset/background-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  margin-bottom: 24px;
  /* height: 137px; */
  border-radius: 10px;
  align-content: center;
}

.left-heading .heading-title {
  font-size: 20px;
  color: white;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 20px;
}

.left-heading .heading-text {
  font-size: 15px;
  color: white;
  font-weight: 500;
}

/*  */

.home-page .left .aside-categories {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  padding: 15px 24px 24px 24px;
  border-radius: 10px;
}

.left .aside-categories .aside-category {
  font-size: 15px;
  font-weight: 600;
  padding: 5px 15px;
  color:#4661e6;
  margin: 15px 15px 0 0;
  background-color: #F2F4FF;
  border-radius: 10px;
  align-content: center;
}

.left .aside-categories .aside-category:hover {
  cursor: pointer;
  background-color: #4661e6;
  color: white;
}

/*  */

.left .aside-roadmap {
  background-color: white;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 24px;
}

.left .aside-roadmap .roadmap-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.aside-roadmap .roadmap-heading .heading-title {
  color: #3a4374;
  font-size: 18px;
  font-weight: 900;
}

.aside-roadmap .roadmap-heading .heading-link {
  color: #8397f8;
  font-size: 14px;
  font-weight: 700;
}

.left .roadmap-statuses {
  display: flex;
  flex-direction: column;
}

.left .roadmap-status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.left .roadmap-status .status-name{
  font-weight: 400;
  font-size: 16px;
  color: #647196;
}

.left .roadmap-status .status-number{
  font-weight: 900;
  font-size: 16px;
  color: #647196;
}

/*  */

.home-page .right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home-page .right .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #373f68;
  padding: 18px 15px 18px 24px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.home-page .right .nav-bar .left-side {
  display: flex;
  align-items: center;
  gap: 40px;
} 

.right .nav-bar .left-side .bar-heading {
  display: flex;
  align-items: center;
  gap: 15px;
}

.right .nav-bar .left-side .bar-heading p.heading-text{
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.right .nav-bar .left-side .bar-sorting p.sorting-label {
  color: white;
}

.right .nav-bar .right-side .bar-button {
  color: #f2f4fe;
  background-color: #ad1fea;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

/*  */

.home-page .right .suggestions-list {
  display: flex;
  flex-direction: column;
}

 .suggestion-item {
  display: flex;
  align-items: stretch;
  background-color: white;
  padding: 26px 30px;
  border-radius: 10px;
  margin-bottom: 20px;

}

.suggestion-item .suggestion-upvotes-container {
  display: flex;
  align-items: flex-start;
  margin-right: 40px;
}


.suggestion-item .suggestion-upvotes-container .suggestion-upvotes {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  width: 40px;
  padding: 14px 0;
  background: #f2f4fe;
  border-radius: 10px;
}

.suggestion-upvotes span {
  color: #3a4374;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

 .suggestion-item .suggestion-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  text-decoration: none;
}

 .suggestion-item .suggestion-info .suggestion-title {
  color: #3a4374;
  margin-bottom: 4px;
  line-height: 26px;
  font-size: 18px;
  font-weight: 900;
}

 .suggestion-item .suggestion-info .suggestion-description{
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #647196;
  margin-bottom: 12px;
}

 .suggestion-item .suggestion-info .suggestion-category{
  background-color: #f2f4ff;
  color: #4661e6;
  padding: 5px 16px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.suggestion-item .suggestion-comments {
  display: flex;
  gap: 5px;
  align-items: center;
}

.suggestion-item .suggestion-comments span {
  color: #3a4374;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.mobile-nav {
  display: none;
}

@media (max-width:1024px) {
  .home-page {
      flex-direction: column;
  }
  .home-page .left {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 20px;
  }
  .home-page .left .left-heading {
      background-image: url(./component/asset/background-tablet.png);
  }

  .home-page .left .left-heading {
      width: 100%;
  }
  .home-page .left .aside-categories{
      width: 100%;
  }
  .home-page .left .aside-roadmap {
      width: 100%;
  }

}

@media (max-width:768px) {

  .mobile-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: url(./component/asset/background-mobile.png);
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 16px 24px;
  }
  
  .mobile-nav p.heading-title {
      color: white;
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
  }
  
  .mobile-nav p.heading-text {
      color: white;
      font-size: 14px;
      font-weight: 500;
  }
  
  .home-page .right .nav-bar {
      border-radius: 0;
  }
  .home-page .left{
      display: none;
  }
   
  .right .nav-bar .left-side .bar-heading {
      display: none;
  }
  
}


